.box{
    width: 90%;
}
.TodoForm-continer{
    width: 40%;
    padding: 20px;
}
.TodoList-continer{
    width: 60%;
    margin: auto;
    padding: 0 40px;
}

@media screen and (max-width: 500px){
    .TodoForm-continer{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding: 0;
    }
    .TodoList-continer{
        margin: auto;
        width: 90%;
        padding: 0;
    }
}